@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Oswald";
    font-weight: 200;
    src: url("assets/fonts/Oswald-ExtraLight.ttf");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 300;
    src: url("assets/fonts/Oswald-Light.ttf");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 400;
    src: url("assets/fonts/Oswald-Regular.ttf");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 500;
    src: url("assets/fonts/Oswald-Medium.ttf");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 600;
    src: url("assets/fonts/Oswald-SemiBold.ttf");
  }
  @font-face {
    font-family: "Oswald";
    font-weight: 700;
    src: url("assets/fonts/Oswald-Bold.ttf");
  }
}

@layer components {
  /*Header*/
  .header {
    @apply sticky top-0 z-10 h-16  flex items-center px-8 md:px-16 bg-white shadow-md;
  }
  .navigation {
    @apply w-full flex justify-between items-center text-gray-600;
  }
  .nav-link {
    @apply cursor-pointer font-semibold mx-2 opacity-70 transition-all ease-out duration-500 hover:opacity-100 hover:duration-500;
  }
  /*Footer*/
  .footer {
    @apply fixed bottom-0 w-full z-10 h-16 flex items-center justify-between px-8 md:px-16 bg-gray-900 text-white;
  }
  .footer-logo {
    @apply w-6 h-6 invert opacity-70 transition-all ease-out duration-500 hover:opacity-100 hover:duration-500;
  }
  /* Main */
  .main-container {
    @apply min-h-[calc(100vh-8rem)] flex flex-col items-center justify-center;
  }
  /*Draft List*/
  .draft-list {
    @apply w-full sm:w-8/12 md:w-10/12  2xl:w-8/12 my-auto p-4 2xl:py-4  sm:p-0 sm:grid sm:gap-4 md:grid-cols-3
    sm:mb-20 sm:mt-4 md:mb-0 md:mt-0;
  }

  .draft-card {
    @apply h-[calc((100vh-8rem)/2-1.4rem)]
     md:h-[calc((100vh-8rem)/2-4rem)]
      mb-4 sm:mb-0 
     

      flex flex-col justify-between items-center 
      text-neutral-100 bg-gray-300 rounded  2xl:text-lg
      overflow-hidden   cursor-pointer;
  }
  /********************************************************************************************************/
  /*Editor */
  /*Text input*/
  .text-input--container {
    @apply flex h-10 rounded-lg border-solid border-[2.5px] border-blackA9;
  }
  .text-input--input {
    @apply appearance-none w-full h-full overflow-hidden resize-none bg-white text-gray-700 
    rounded-l-md px-2 border-none focus-visible:outline-none transition-all;
  }
  .text-input--btn {
    @apply bg-white rounded-r-md w-10 h-full transition-all;
  }
  /*Confirm Changes Modal*/
  .modal-container {
    @apply data-[state=open]:animate-contentShow fixed  max-h-[85vh] w-[90vw] max-w-[450px] translate-x-[-50%] translate-y-[-50%] rounded-[6px] bg-white p-[25px] shadow-[hsl(206_22%_7%_/_35%)_0px_10px_38px_-10px,_hsl(206_22%_7%_/_20%)_0px_10px_20px_-15px] focus:outline-none;
  }
}
